/* h1{ */
    /* text-align: center; */
    /* text-align: end; */
    /* text-align: start; */
    /* text-align: justify; */

    /* text-decoration: line-through; */
    /* text-decoration: overline; */
    /* text-decoration: underline; */

    /* text-decoration-color: aqua; */
    /* text-decoration-style:wavy; */

    /* text-indent: 10px; */

    /* text-transform: capitalize; */
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */

    /* text-shadow: 20px 20px 5px blue; */

    /* letter-spacing: 10px; */

    /* word-spacing: 10px; */

    /* line-height: 2; */
/* } */

*{
    justify-content: center;
}

#outer{
    display: flex;
    /* flex-direction: row; */
    background-color: aqua;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* align-items: baseline; */
    /* align-items: center; */
    align-content: space-between;
    /* overflow: scroll; */
    height: 700px;
}


#outer>div{
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}